@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

.row {
    width: 100;
    max-width: 1200px;
    margin: 0 auto;
}

 .nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.purple {
    color: #7342d6;
}

.nav__brand {
  width: 1%;
  display: flex;
}

.nav__link {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__link--child {
    margin-right: auto;
    margin-left: 0%;
    padding-left: 0;
}

.logo {
    width: 26px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}


.nav__link--primary {
    background-color: #7342d6;
    padding: 8px 20px;
    border-radius: 20px;
    color: #fff;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
background-color: rgba(115, 66, 214, 0.2);
}

header {
    height: calc(100vh - 80px);
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__container {
  flex: 1;
  min-width: 300px;
}

.header__img--wrapper {
  display: flex;
 flex: 1;
  min-width: 300px;
}

.header__img--wrapper img {
  width: 100%;
  height: auto;
}


.home__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 25px;
}


